# GIT
GIT_BRANCH_DEVELOP_DEPLOYMENT=main
GIT_BRANCH_DEVELOP=main

# CONTEXT7
CONTEXT7_API_KEY=

# SEMGREP
SEMGREP_TOKEN=

# TELEGRAM
TELEGRAM_BOT_NAME=ravendevs_restaurant_crm_bot
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_ASK_WAIT_SECONDS=10
TELEGRAM_ASK_MAX_ATTEMPTS=3
TELEGRAM_LANG=en

# LINEAR
LINEAR_API_KEY=
LINEAR_URL=https://linear.app
LINEAR_WORKSPACE_ID=ravendevs
LINEAR_TEAM_NAME=engineering
LINEAR_TEAM_ID=67c0abaa-c5ad-4faf-a1ec-e50389f69654
LINEAR_PROJECT_ID=eeafbc9c-40b4-4f06-9555-0b402aa8b423
LINEAR_ASSIGNEE_NAME=Sergey Petushkou
LINEAR_ASSIGNEE_ID=1c64d4c5-2266-4887-8aa4-f4e8cf7da236

# GITHUB
GITHUB_URL=https://github.com/raven-devs/restaurant-crm
GITHUB_PR_ASSIGNEES=spetushkou
GITHUB_PR_REVIEWERS=spetushkou
GITHUB_PR_AUTHORIZED_QUERY=/spetushkou
GITHUB_PR_REVIEWED_QUERY=?q=is%3Apr+is%3Aopen+draft%3Afalse+label%3AGROWTH+reviewed-by%3Aspetushkou
GITHUB_PR_REQUESTED_QUERY=?q=is%3Apr+is%3Aopen+draft%3Afalse+label%3AGROWTH+user-review-requested%3Aspetushkou

# SUPABASE
SUPABASE_TOKEN=
SUPABASE_PROJECT_URL=https://coueibyzoduppdwckdct.supabase.co
SUPABASE_SERVICE_ROLE_KEY=

# WEB SERVER PORT
PORT=3000

# CORS
CORS_ORIGIN=http://localhost:5173

# SENTRY
SENTRY_DSN=
